{% extends "base.html" %}
{% block title %} 
  修改学生信息
{% end %}

{% block content %} 
	<a href="/coulist">返回学生名单</a>
	<hr>
	<form action="/couedit/{{stulist['stu_no']}}" method="post">
    
    姓名：<input type="TEXT"        name="name"      value="{{stulist['name'    ]}}"><br>
    出生日期：<input type="DATE"    name="birthday"  value="{{stulist['birthday']}}"><br>
    性别：<input type="CHAR(5)"        name="sex"       value="{{stulist['sex'     ]}}"><br>
    班级：<input type="TEXT"        name="stclass"   value="{{stulist['stclass'   ]}}"><br>
    <input type="submit" value="提交">
    </form>

{% end %}