{% extends "base.html" %}
{% block title %} 
  课程清单  
{% end %}
{% block content %}
	<a href="couedit/new">新建学生信息</a>
	<hr>
	<table border="1">

	
		<tr>
			<td>学号</td>
			<td>姓名</td>
			<td>出生日期</td>
			<td>性别</td>
			<td>班级</td>
		</tr>
		{% for cou in courses %}
		<tr>
			<td>{{ cou['stu_no'] }}</td>
			<td>{{ cou['name'] }}</td>
			<td>{{ cou['birthday']}}</td>
			<td>{{ cou['sex']}}</td>
			<td>{{ cou['stclass']}}</td>
			<td>
				<a href="couedit/{{cou['stu_no']}}"> <input type="button" value="修改 "></a> &nbsp; 
				<a href="coudel/{{cou['stu_no']}}">  <input type="button" value="删除"> </a>
			</td>
		</tr>
		{% end %}
	</table> 

{% end %}
